<div class="contenedor-contacto">
  <div class="content">
    <div class="form-title">
      <h1>Contactanos</h1>
      <p>{{title}}</p>
    </div>
    <div class="formulario">
      <form action="/contacto" method="POST">
        <label for=" fname">Nombre</label>
        <input type="text" id="fname" name="firstname" placeholder="Nombre" />

        <label for="lname">Apellido</label>
        <input type="text" id="lname" name="lastname" placeholder="Apellido" />
        <label for="email">E-mail</label>
        <input type="text" name="email" placeholder="Nombre@gmail.com" />
        <label for="tel">Teléfono</label>
        <input type="text" name="tel" placeholder="+54	(011) - 1111111" />
        <label for="mensaje"></label>
        <textarea name="mensaje" id="" class="text-a" placeholder="Dejanos tu mensaje"></textarea>
        <input type="submit" value="enviar" />
      </form>
    </div>
    <div class="mensaje">
      <h3>{{validaciones}}</h3>
    </div>

  </div>

</div>