
<div class="container">
  <div class="cont-title">
<h1> Nosotros </h1>
<p>{{title}}</p>

  </div>
  <div class="row">
    <div class="card-group">
      <div class="card">
        <img src="/images/nos(1).jpg" alt="" />
        <div class="card-body">
          <div class="card-ti">
            <h3>Carlos Martinez</h3>
          </div>
          <div class="card-text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
              numquam?</p>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="/images/nos(2).jpg" alt="" />
        <div class="card-body">
          <div class="card-ti">
            <h3>Génesis Jiménez</h3>
          </div>
          <div class="card-text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
              numquam?</p></div>
        </div>
      </div>
      <div class="card">
        <img src="/images/nos(3).jpg" alt="" />
        <div class="card-body">
          <div class="card-ti">
            <h3>Camila Vallejos</h3>
          </div>
          <div class="card-text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste,
              numquam?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>