<div class="container-fluid">
  <h1 class="text-center">Nosotros</h1>
  <div class="card-group col-12 col-sm-12 col-md-12 p-3">

    <div class="card col-sm-12">
      <img src="/images/card1.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This card has even longer
          content than the first to show that equal height action.</p>
        <p class="card-text"></p>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary">Sobre mi</button>
            <button class="btn btn-secondary">Proyectos</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/images/card2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This card has even longer
          content than the first to show that equal height action.</p>
        <p class="card-text"></p>
        <div class="row">
          <div class="col ms-">
            <button class="btn btn-primary">Sobre mi</button>
            <button class="btn btn-secondary">Proyectos</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/images/card3.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as
          a natural lead-in to additional content. This card has even longer
          content than the first to show that equal height action.</p>
        <p class="card-text"></p>

        <div class="row">
          <div class="col ms-">
            <button class="btn btn-primary">Sobre mi</button>
            <button class="btn btn-secondary">Proyectos</button>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row p-3">
    <div class="col-12 col-sm-12 col-md-6">
      <h2 class="text-center">Nuestros Diseños</h2>
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/accesorios.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="/images/accesorios.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img src="/images/accesorios.jpg" class="d-block w-100" alt="..." />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 p-4">
      <h4>Breve Historia</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit nostrum
        pariatur deleniti distinctio incidunt, esse quasi illum aliquid, sint
        recusandae, veniam adipisci id molestiae corporis non dolor repellendus
        sapiente odio!</p>
      <div class="col-12 comentarios">
        <div
          id="carouselExampleIndicators"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonio text-center personalizar">
                <h5>!Me encantan todos sus poductos!</h5>
                <p>Pablo, CABA los recomiendo</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonio text-center personalizar">
                <h5>!Tiene diseños estupendos los recomiendo mucho!</h5>
                <p>Daniela, Lomas de Zamora</p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonio text-center personalizar">
                <h5>!Tiene diseños estupendos los recomiendo mucho!</h5>
                <p>Daniela, Lomas de Zamora</p>
              </div>
            </div>

          </div>
          {{! <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> }}
        </div>

      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label class="form-label"> Dejanos tu comentario</label>
            <input
              type="text"
              class="form-control"
              id="exampleFormControlInput1"
              placeholder="Nombre"
            />
          </div>
          <div class="mb-3">
            
            <textarea
              class="form-control"
              id="#"
              rows="3"
              placeholder="Comentario"
            ></textarea>
            <button type="submit" class="btn btn-primary mt-2">Enviar comentario</button>
        </div>
      </div>
    </div>
  </div>

</div>