<div class="container-fluid">
    <div class="row py-4">
        <div class="col-12 col-md-4 col-lg-4">

            <div class="card">
                <img src="/images/producto1 (1).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jeans</h5>
                    <h6 class="text-danger">$2330</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <div class="card">
                <img src="/images/producto1 (1).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Buzos</h5>
                    <h6 class="text-danger">$2530</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-4 col-lg-4">
            <div class="card">
                <img src="/images/producto1 (2).jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="text-danger">$2530</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

 <div class="col-12 col-lg-4">
        <div class="card">
            <img src="/images/1 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="text-danger">$5500</h6>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4">
        <div class="card">
            <img src="/images/1 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="text-danger">$4330</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class=" col-12 col-lg-4">
        <div class="card">
            <img src="/images/1 (1).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="text-danger">$3030</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary ">Go somewhere</a>
                <a href="#" class="btn btn-secondary">Go somewhere</a>
            </div>
        </div>
    </div>

    </div>
   
</div>