:root {
  --bs-blue: #9c9c9c8c;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
body{overflow-x:hidden;}

.nav-color {
  background-color: #393E46;
}

.link_item  {
   padding: 10px 12px;
   color: #EEEEEE;
   text-decoration: none;
}

.link_item:hover {
  color: #9299a3;

}

.portada {
  background: url(../images/fffddd.jpg) no-repeat ;
  background-size: cover;
  height: 0.8vh;
  min-height: 600px;
  color: rgb(19, 15, 15);
}

.portada h1, h2, p {
  color: #dadada;
}
h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;

}
.personalizar, h4 {color: var(--bs-blue);
}

.content {
  background-image: url(../images/fffddd.jpg);
  background-size: cover;
  padding: 2em;
  height: 100vh;
}

.comentarios {
  padding: 1em;
  /* height: 350px; */
  background-color: aliceblue;
}

.lista-novedades{
  margin: 0;
  padding: 0;
  list-style: none;
}
.lista-novedades li {
  margin: 4px 0;
}

.lista-novedades li a{
  background-color:#fff;
  font-family: 'alfa slab One', cursive;
  text-decoration: none;
  font-size: 0.9rem;
  color: #a0a0a0;
  transition: all .2s ease-in-out;
  display: block;
}

.lista-novedades li a:hover {
  color:#212529;
  background-color: #EDF6E5;
}

.lista-novedades li a img {
  width: 150px;
  height: 100px;
  filter: grayscale();
  transition: all .2s ease-in-out;
  margin-right: 1rem;
  opacity: 0.7;
  object-fit: cover;
}
.lista-novedades li a:hover img {
  filter: none;
  margin-right: 1.4rem;
  opacity: 1;
}

footer {

  background-color: #393E46;
}
